button {
  border-radius: 4rem;
  border: none;
  cursor: pointer;
  padding: 5px 20px;
}

.imgContainer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 6px solid #cfbae1;
  cursor: pointer;
}

.imgContainer img {
  max-width: 105%;
}

#mainContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c1e0f7;
}

.orbContainer {
  position: absolute;
  height: 7rem;
  width: 7rem;
}

.slider {
  opacity: 0.7;
  margin-top: 0.5rem;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  cursor: pointer;
}

.sliderContainer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  border: 3px solid black;
  border-radius: 1rem;
  background: white;
}

.hoverBlurb {
  position: absolute;
  background-color: #c59fc9;
  width: 10rem;
  height: 100%;
  padding: 6px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hoverBlurb div {
  margin: 3px;
  text-align: center;
}

.hoverBlurb button {
  margin-top: 3px;
}

.hoverBlurbLeft {
  right: 50%;
  border-radius: 4rem 0 0 4rem;
  padding-right: 4rem;
  padding-left: 2.5rem;
  display: flex;
}

.hoverBlurbRight {
  left: 50%;
  border-radius: 0 4rem 4rem 0;
  padding-left: 4rem;
  padding-right: 2.5rem;
  display: flex;
}

.popup {
  display: none;
  position: relative;
  width: 50%;
  min-height: 50%;
  max-height: 80%;
  margin: 0 auto;
  background: white;
  border: 3px solid black;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  overflow: auto;
}

.popup div {
  padding: 1rem;
}

.popup button {
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.popupContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
}

.showPopup {
  display: flex;
  z-index: 3;
  align-items: center;
}

.front {
  z-index: 2;
}

.unicorn {
  margin-left: 8px;
}

a {
  margin: 0px 5px;
}
