.imgContainer {
  background: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
}

.imgContainer img {
  max-width: 105%;
}

.mainContainer {
  position: relative;
}

.orbContainer {
  position: absolute;
  height: 7rem;
  width: 7rem;
}

.orbContainer div {
  height: 100%;
  width: 100%;
  border: 3px solid black;
}

.sliderContainer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
}

.test {
  position: absolute;
  background-color: pink;
  left: 50%;
  border-radius: 0 50% 50% 0;
}
