button {
  border-radius: 4rem;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  padding: 5px 20px;
}

.imgContainer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 6px solid #CFBAE1;
  cursor: pointer;
}

.imgContainer img {
  max-width: 105%;
}

#mainContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #C1E0F7;
}

.orbContainer {
  position: absolute;
  height: 7rem;
  width: 7rem;
}

.sliderContainer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hoverBlurb {
  position: absolute;
  background-color: #C59FC9;
  width: 10rem;
  height: 100%;
  padding: 6px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hoverBlurb div {
  margin: 5px;
  text-align: center;
}

.hoverBlurbLeft {
  right: 50%;
  border-radius: 4rem 0 0 4rem;
  padding-right: 4rem;
  padding-left: 2.5rem;
  display: flex;
}

.hoverBlurbRight {
  left: 50%;
  border-radius: 0 4rem 4rem 0;
  padding-left: 4rem;
  padding-right: 2.5rem;
  display: flex;
}

.popup {
  display: none;
  position: relative;
  top: 25%;
  width: 50%;
  height: 50%;
  margin: 0 auto;
  background: white;
  border: 3px solid black;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup div {
  padding: 1rem;
}

.popupContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
}

.showPopup {
  display: flex;
}
